body {
    font-family: Arial, Helvetica, sans-serif;
    background: color #fefbe9;
    margin: 0;
    padding: 0;
    

}

header,
footer {
    background-color: #ffb703;
    color: black;
    padding: 20px;
    text-align: center;


}

nav {
background-color: #fb8500;
/* color: white;  */
padding: 20px;
text-align: center;

}

nav a {
color: white;
text-decoration: none;
margin: 10px;
font-weight: bold;

}
nav a:hover {
    text-decoration: underline;

}

.container {
    padding: 20px;
    margin: 10px;

}
  .container img {
    width: 270px;
    
}


.grid {
    display: flex; 
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.card {
    background-color: #f7f6d2;
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);


}
.card:hover {
    transform: scale(1.05);
    cursor: pointer;
    
}

.button {
    background-color: #219ebc;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
}
.card img {
    width: 100%;
    border-radius: 10px;

}
.hansel {
    font-weight: bold;
}

form label {
    display: block;
    margin-top: 20px;
    

}
input,textarea {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}